/* Remove default background */
.quarto-title-block {
  background: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

/* Color ONLY the title + subtitle area */
.quarto-title-banner {
  background-color: #CDF0DA !important;
  padding: 30px;
}

/* Title text */
.quarto-title-banner h1.title {
  font-family: "Libre Baskerville", serif !important;
  font-weight: 400 !important;
  color: #003049 !important;
}

/* Subtitle text */
.quarto-title-banner .subtitle {
  font-family: "Source Sans 3", sans-serif !important;
  font-weight: 400 !important;
  color: #003049 !important;
}

